/cmake-build-debug/
/samplefiles/colorpalette/.idea/
/samplefiles/colorpalette/cmake-build-debug/
/samplefiles/simplechat/.idea/
/samplefiles/simplechat/cmake-build-debug/
/不醒人室♂.bak
/不醒人室♂.txt
/.idea
